{% extends 'base.html' %}

{% block title %}

Shoutout All

{% endblock %}


{% block header %}

Please fill the form to create a project

{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
            <div class="form-group">
                {% csrf_token %}
                <input type="text" name = "employee_name", onkeyup="myFunction()" , placeholder= "Search for names whom you want to give a shoutout" , id="emplyee_name" style="width: 50%;">
            </div>
            <div class="form-group">
                <ul id="myUL" style="list-style-type: none;">
                    {% for employee in employees %}
                        <li><a href="#">{{employee.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                <label for="description">Enter the description of the shoutout</label>
                <input style="display: block; width: 50%;" type="text" id="description" name="description" , placeholder="Write about the shoutout">
            </div>
            <div class="form-group">
                <label for="points">Enter the points if you want to donate to the appreciator</label>
                <input style="display: block; width: 50%;" type="number" name="points" id="points">
            </div> 
            <button type="submit" class="btn btn-primary mb-3 mt-5">Submit</button>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </form>
    <!-- Shoutout Created --> 
    <div class="row">
        {% if shoutouts %}
        <div class="col-md-10 text-center mb-5">
            {% for shoutout in shoutouts %}
                <div class="card text-white bg-success mb-5">
                    <div class="card-header">Shoutout by {{user_name}}</div>
                    <div class="card-body">
                    <h5 class="card-title">Shoutout to {{shoutout.emp_appreciated.name}}</h5>
                    <p class="card-text">{{shoutout.description}}</p>
                    <form action={% url  'shoutout_like' shoutout.id %} method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">
                            Likes <span class="badge badge-light">{{shoutout.likes.count}}</span>
                        </button>
                    </form>

                    <button class="btn btn-warning">
                        <a href={% url "shoutout_comment" shoutout.id %}>Go to this Shoutout</a>
                    </button>   
                    <p class="card-text text-left">~ {{shoutout.timestamp}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    function myFunction(){
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("employee_name");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = document.getElementsByTagName("li");

        for(i=0;i<li.length;i++){
            option = li[i].getElementsByTagName("option")[0];
            txtValue = option.textContent || option.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        } 
    }
</script>

{% endblock %}