{% extends 'base.html' %}
{% load static %}

{% block title %}
Social Media
{% endblock %}

{% block header %}
Ask for Help
{% endblock %}



{% block content %}

<div class="container">
<form method="POST" class="mb-5" enctype='multipart/form-data'>
{% csrf_token %}
<div class="form-group">
    <label for="formGroupExampleInput2">Project Name</label>
    <input type="text" class="form-control border rounded border-info" id="formGroupExampleInput2" placeholder="Name" name="project_name">
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Short Message / Description</label>
    <textarea class="form-control border rounded border-info" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
</div>
<div class="form-group">
    <label for="exampleFormControlFile1">Instructions File</label>
    <input type="file" class="form-control-file bg bg-info border rounded col-md-4 p-2" id="exampleFormControlFile1" name="attachment">
</div>


<button type="submit" class="btn btn-primary">Post</button>
</form>
</div>

{% endblock %}